h2 {
    margin-top: 10px;
    justify-content: center;
    display: flex;
    text-align: center;
}

.wj-flexgrid{
  height: calc(100vh - 155px) !important;
  width:95%;
}

.wj-cell.green {
    background-color: rgb(215, 255, 215);
    /* color: green; */
  }
  .wj-cell.red {
    background-color: rgb(255, 210, 216);
    /* color: red; */
  }
  .wj-cell.yellow{
    background-color: rgb(255, 255, 206);
    /* color: rgb(0, 0, 0); */
  }

  .wj-row{
    max-height: 50px;
  }

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; /* Align buttons to the end */
    align-items: center;
    gap: 10px; /* Add spacing between buttons */
}

.combo-box-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* Align combobox to the start */
    align-items: center;
    gap: 10px; /* Add spacing */
    flex-grow: 1; /* Allow combobox to take available space */
}